<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="username"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            [(ngModel)]="password"
          />
        </div>
        <div class="form-group">
          <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-block">
            Login
          </button>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="isLoginFailed"
          >
            Login failed: {{ errorMessage }}
          </div>
        </div>
  
      <div class="alert alert-success" *ngIf="isLoggedIn">
        Logged in as {{ roles }}.
      </div>
    </div>
  </div>