<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="username"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            [(ngModel)]="email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            [(ngModel)]="password"
          />
        </div>
        <div class="form-group">
          <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-block">Sign Up</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
  </div>